@font-face {
    font-family: 'Big Shoulders Text';
    src: url('../fonts/BigShouldersText-Regular.woff2') format('woff2'),
        url('../fonts/BigShouldersText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Big Shoulders Text';
    src: url('../fonts/BigShouldersText-Bold.woff2') format('woff2'),
        url('../fonts/BigShouldersText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Big Shoulders Text';
    src: url('../fonts/BigShouldersText-Medium.woff2') format('woff2'),
        url('../fonts/BigShouldersText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Big Shoulders Text';
    src: url('../fonts/BigShouldersText-Black.woff2') format('woff2'),
        url('../fonts/BigShouldersText-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
img{
	max-width: 100%;
	height: auto;
}
a, a:hover{
	text-decoration: none;
}
html{
	background: #000;
	height: 100%;
}
.fixed {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999999;
    background: 0 0;
    animation: slide-down .7s;
}
.container{
	max-width: 1200px;
}
#wrapper{
	background: #000  url('../images/main-bg.jpg');
	background-size: cover;
	background-position: center top;
}
#bg-body{
	position: absolute;
	top: 0;
	opacity: 0;
	z-index: 1;
}
#header{
	position: relative;
	background: url('../images/bg-topbar.png');
	z-index: 22;
	height: 95px;
}
.top-bar{
	display: flex;
	align-items: center;
	height: 95px;
	justify-content: space-between;
}
.top-bar .main-menu ul{
	display: flex;
	list-style: none;
	justify-content: space-between;
	padding-left: 0;
	margin-bottom: 0;
}
.top-bar .main-menu ul li{
	width: 180px;
	position: relative;
	text-align: center;
	height: 95px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.top-bar .main-menu ul li:last-child{
	margin-right: 0;
}
.top-bar .main-menu ul li a{
	font-family: 'Big Shoulders Text';
	font-size: 21px;
	font-weight: bold;
	color: #ffffff;
	background: -webkit-linear-gradient(#838383, #fff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
	z-index: 2;
	position: relative;
}
.top-bar .main-menu ul li.active:after, .top-bar .main-menu ul li:hover:after{
	content: '';
	position: absolute;
	background: url('../images/menu-hover.png') no-repeat;
	display: block;
	width: 179px;
	height: 108px;
	top: 0;
	z-index: 1;
}
#main-content{
	display: flex;
	align-items: center;
	position: relative;
	z-index: 1;
	overflow-x: hidden;
}
.content-top p{
	color: #fff;
	font-size: 15px;
}
.content-top p span{
	color: #ffcb57;
}
.content-align{
	padding: 50px 0;
}
.page-dua-top-cap-do .content-top p{
	max-width: 743px;
	text-align: left;
	margin: 0 auto;
	font-size: 15px;
	margin-bottom: 10px;
}
.page-dua-top-bang-hoi .content-top p{
	max-width: 743px;
	text-align: left;
	margin: 0 auto;
	font-size: 15px;
	margin-bottom: 10px;
}
.page-dua-top-bang-hoi .fix_width{
	max-width: 1000px;
	margin: 0 auto;
}
.page-event .content-top ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.page-event .content-top ul li{
	background: url('../images/bg-list-event.png') no-repeat;
	width: 263px;
	height: 178px;
	background-size: contain;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-event .content-top ul li h4{
	color: #ffffff;
	font-family: 'Big Shoulders Text';
	background: -webkit-linear-gradient(#FDFBB5, #C28538);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
}
.page-event .fix_width{
	max-width: 1010px;
	margin: 0 auto;
}
.box-event-roi{
	height: 520px;
	background: url('../images/bg-giai-thuogn.png') no-repeat;
	height: 520px;
	width: 1002px;
	margin: 0 auto;
}
.event-giait li{
	color: #fff;
	text-align: left;
	padding: 0 20px;
	margin-bottom: 15px;
	font-size: 18px;
}
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    bottom: 0;
}
#footer{
	background: #000000;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.cp-right p{
	margin-bottom: 0;
	color: #999999;
	font-family: 'Arsenal', sans-serif;
}
.cp-right p img{
	margin: 0 10px;
}
